// this section defined only colors

$black: #000000;
$white: #FFFFFF;
$lightGray: #AAAAAA;
$grayText: #757575;
$gray: #CCCCCC;
$grayBg: #EEEEEE;
$orange: #FF4D00;
$darkBg: #0F1011;
$darkText: #0F0F0F;
$darkWindowItem: #292A2A;
$red: #ff0000;

//this section defined only fonts

$rb: 'Roboto Bold';
$rm: 'Roboto Medium';
$rr: 'Roboto Regular';

$ib: 'Inter Bold';
$im: 'Inter Medium';
$ir: 'Inter Regular';
$il: 'Inter Light';

$hb: 'Helvetica Bold';
$hr: 'Helvetica Regular';

//next defined default styles